@import './Mixins';
@import "./Variables.scss";


.FirstFooter {
  display: flex;
  font-size: 15px;
  position: absolute;
  top: 86%;
}

.a-write-to-us {

  margin-left: 1em;
  text-decoration: none;
 
  color: blue;
}

.li-write-to-us {
  list-style-type: none;
}

.footerFirstSite {
  margin-top: auto;
  width: 100vw;
  height: 10vh;
  padding: 1.6rem;
  color:white;
  background-color: $primary-color-button;
  font-size: .8em;
  text-align: center;
}

@media (orientation: portrait) {
 .btnUnit {
  top: 55%;
 }
}
@media (min-width: 1200px) {
  .btnUnit {
    top: 55%;
  }
}
