
.congratulationh2 {
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 0.1em;
}

#resultButton {
  margin-top: 5%;
  background-color: #d42436;
}
#resultButton1 {
  margin-top: 5%;
  background-color: #c6c4c4;
  color: black;
}

.endScoreh2 {
  font-size: 40px;
}

@media (max-width: 800px) {
  .trophy {
    width: 200px;
    height: 200px;
  }
  .endScoreh2 {
    font-size: 35px;
  }
  .congratulationh2 {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .endScoreh2 {
    font-size: 30px;
  }
  .trophy {
    width: 150px;
    height: 150px;
  }
}

